@charset "UTF-8";
:root {
  /* основна палітра кольорів */
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --slogan-text-color: #ffffff;
  --primary-bg-color: #2f303a;
  --first-logo-color: #000000;
  --btn-bgr-color: #f5f4fa;
  --button-background-color: #188ce8;
  --link-address-color: rgba(255, 255, 255, 0.6);
  --icon-social-color: #afb1b8;
  /* others */
  --items: 3;
  --indent: 30px;
  /* animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  padding-top: 80px;
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

.button {
  width: 200px;
  height: 50px;
  font: inherit;
  color: var(--slogan-text-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.button:focus, .button:hover {
  background-color: var(--button-background-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color var(--animation), border-radius var(--animation);
  transition: background-color var(--animation), border-radius var(--animation);
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-networks__link:hover .social-networks__icon,
.social-networks__link:focus .social-networks__icon {
  fill: var(--slogan-text-color);
}

.social-networks__icon {
  fill: var(--icon-social-color);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.header-logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  color: var(--first-logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-span {
  color: var(--accent-color);
}

/* Основна навігація */
.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--slogan-text-color);
  border-bottom: 1px solid #ececec;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .link-header.current {
  color: var(--accent-color);
}

.link-header {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.link-header.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--button-background-color);
}

.link-nav {
  color: var(--title-text-color);
}

.header-icon {
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.link-header {
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.link-header:focus, .link-header:hover {
  color: var(--accent-color);
}

.link-header:focus .header-icon,
.link-header:hover .header-icon {
  fill: var(--accent-color);
}

.hero {
  padding: 200px 0;
  background: var(--primary-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img/background-hero.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/background-hero.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--slogan-text-color);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__svg {
  margin-bottom: 30px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--btn-bgr-color);
}

.benefits__title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__subtitle {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.projects {
  padding-bottom: 94px;
}

.projects__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.projects__overlay-text {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--btn-bgr-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.items-team {
  -ms-flex-preferred-size: calc((100% - var(--indent) * 4) / 4);
      flex-basis: calc((100% - var(--indent) * 4) / 4);
  margin: calc(var(--indent) / 2);
  background: var(--slogan-text-color);
}

.items-team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.items-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.items-team__subtitle {
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.companies-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.companies-title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.companies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.companies-item {
  height: 92px;
  width: calc(16.6666666667% - 30px);
  border: 1px solid #afb1b8;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}
.companies-item:not(:last-child) {
  margin-right: 30px;
}
.companies-item:hover, .companies-item:focus {
  border: 1px solid var(--accent-color);
}

.companies-item:hover .companies-icon,
.companies-item:focus .companies-icon {
  fill: var(--accent-color);
}

.companies-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.companies-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.futer-logo-span {
  color: var(--slogan-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--primary-bg-color);
  color: var(--slogan-text-color);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content {
  padding-right: 70px;
}

.footer-list {
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  padding-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: var(--link-address-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--slogan-text-color);
  text-decoration: none;
  font-style: normal;
}

.footer-sign {
  margin-left: auto;
}

.footer-sign-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--slogan-text-color);
}

.form-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 86px;
}

.form-sign input {
  margin-right: 12px;
  padding-left: 30px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--primary-bg-color);
  outline: transparent;
}

.button--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icon-send {
  margin-left: 10px;
  fill: var(--slogan-text-color);
}

.social-icons-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 0, 8;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--animation), background-color var(--animation);
  transition: fill var(--animation), background-color var(--animation);
}
.social-footer-link:hover, .social-footer-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-footer-link:hover .social-networks__icon,
.social-footer-link:focus .social-networks__icon {
  fill: var(--slogan-text-color);
}

.social-footer-icon {
  fill: var(--slogan-text-color);
}

.social-footer-item:not(:last-child) {
  margin-right: 10px;
}

/* portfolio */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  padding: 6px 22px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--btn-bgr-color);
  border: none;
  color: var(--primary-text-color);
  cursor: pointer;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), box-shadow var(--animation), background-color var(--animation);
  transition: color var(--animation), box-shadow var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--slogan-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn.current {
  background-color: var(--accent-color);
  color: var(--slogan-text-color);
}

.container-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 2070px;
      flex-basis: 2070px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.list-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.portfolio-item {
  /* position: relative; */
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.portfolio-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio-item:hover,
.portfolio-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.portfolio-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--slogan-text-color);
}

.portfolio-item:hover .portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  background-color: var(--slogan-text-color);
}

.close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:hover .close-icon {
  fill: var(--accent-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-register {
  margin-bottom: 10px;
  width: 100%;
}

.register-title {
  margin-bottom: 12px;
}

.register-text {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .register-modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: relative;
}

.register-modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.comment {
  width: 100%;
  outline: transparent;
  padding: 12px 16px;
  height: 120px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
  resize: none;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.comment:focus {
  border-color: var(--accent-color);
}

.label-coment {
  margin-bottom: 20px;
  width: 100%;
}

textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox-agreement {
  font-size: 14px;
  line-height: 1.7;
  color: var(--title-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contract {
  color: var(--button-background-color);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.form-checkbox-custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-logo-color);
  border-radius: 2px;
  -webkit-transition: background-color var(--animation), border var(--animation);
  transition: background-color var(--animation), border var(--animation);
}

.vector-done {
  fill: var(--slogan-text-color);
}

.form-checkbox-input:checked + .form-checkbox-custom {
  background-color: var(--accent-color);
  border: none;
}/*# sourceMappingURL=main.css.map */